.wrapClass{
  display: flex;
 justify-content: flex-start; 
  align-items:center;
  flex-wrap: wrap;
 
 }
.round{
  border-radius: 100%;
  width:9em;
  /* margin:10px; */
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  gap:2em;
   flex-wrap:wrap;

}
.item h6{
  width:9em;
}
