 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --black: black;
    --green: #006241;
    --white: white;
    --white2: #eeebeb;
    --green2: #1e3932;
    --olive: #a0c292;
    --pink: #f6bfd9;
    --lightgreen: #d4e9e2;
    --beige: #fff4d4;
    --grey: #f0edeb8d;
  }
  Link{
    text-decoration: none;
  }
  body {
    font-family: "Maven Pro", sans-serif;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    color: var(--black);
  
  }
  a{
    text-decoration: none;
    color:var(--black)
  }
  ul li{
    list-style: none;
  }
  #coupon{
    width:40%;
    height:100%;
    position:absolute;
    top:30%;
    left:30%;
   opacity: 1;
   z-index: 99;

    }
    #close{
      width:3em;
    
      background-color:rgb(227, 215, 217);
      color:rgb(200, 15, 15);
      position:relative;
      border:none;
      font-size:2em;
      top:6.5%;
    }
    .coupon-open{
      opacity: 0.7 !important;
    }
   
.dark #weather{
  color:var(--white2)
}
.dark {
  color: var(--black);
  background-color: var(--olive);
}
.dark .myNavbar a {
  color: var(--white2);
}
.dark .myNavbar {
  color: var(--white) !important;
  background-color: var(--green2);
}
.dark .myNavbar .btn {
  font-weight: 600 !important;
  background-color: var(--white);

  border: none !important;
}
.dark .myNavbar .btn:hover {
  background-color: var(--olive);
  color: var(--black);
}
.dark .myNavbar a:hover {
  color: var(--olive);
}
.dark .box1 .box-text {
  background-color: var(--olive);
  color: black;
  text-align: center;
  padding-top: 8%;
}
.dark .btn-dark {
  color: var(--black);
}
.dark .btn-dark:hover {
  color: var(--white);
}
#themeSwitch {
  margin:2em;
  cursor: pointer;
  font-size: rem;
}
.dark footer,
.dark .footer2 {
  background-color: var(--olive);
}
.dark footer{
  color:var(--white);
  background-color: var(--green2);
}
.dark .footer2{
  color:var(--white);
  background-color: var(--green2);

}  